@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
    color: #fff;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 2rem;
    transition: 0.3s;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 1rem; 
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0; /* Aligns line to the bottom of the text */
    left: 0; /* Start from the beginning of the word */
    width: 0; /* Initially hidden */
    height: 2px; /* Thin underline */
    background: rgb(234, 255, 0); /* Yellow color */
    transition: width 0.3s cubic-bezier(1, 0.68, 0.16, 0.9); /* Smooth width expansion */
}

.navbar a:hover,
.navbar a.active {
    color: rgb(234, 255, 0); /* Change text color on hover */
}

.navbar a:hover::after {
    width: 100%; /* Fully expands the underline */
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 90px 10% 0;


}



.home-content h3{
    font-size: 25px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content {
    margin-top: 1rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .3s;
}

.home-content h3 span{
    color: rgb(234, 255, 0);
}

.home-content h1{
    font-size: 55px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 18px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 550px; /* Adjust the width to make the image smaller */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners for a cleaner look */
    align-items: right;
    margin-right: -60px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 2s;
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(234, 255, 0);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(234, 255, 0);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: rgb(234, 255, 0);
    color: #1f242d;
    box-shadow: 0 0 20px rgb(234, 255, 0);
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(234, 255, 0);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(234, 255, 0);
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    background: rgb(234, 255, 0);
    color: #1f242d;
    box-shadow: 0 0 20px rgb(234, 255, 0);
}



@media (max-width: 1200px) {
    .home-content p{
        font-size: 14px;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: 1s;
    }

    .home-content h1{
        font-size: 40px;
        font-weight: 700;
        margin: -3px 0;
        opacity: 0;
        animation: slideRight 1s ease forwards;
        animation-delay: 1s;
    }

    .home-content h3{
        font-size: 20px;
        font-weight: 700;
        opacity: 0;
        animation: slideBottom 1s ease forwards;
        animation-delay: .7s;
    }
    .home-img img {
        max-width: 400px; /* Adjust the width to make the image smaller */
        height: auto; /* Maintain aspect ratio */
        border-radius: 10px; /* Optional: Add rounded corners for a cleaner look */
        align-items: right;
        margin-right: 80px;
        opacity: 0;
        animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
        animation-delay: 2s, 3s;
    }
}

@media (max-width: 1020px) {
    .navbar a {
        font-size: 1rem;
        margin-left: .5rem;
    }
    .home-img img {
        margin-top: -4rem;
    }
    .home-content{
        margin-top: -1.5rem;
    }

    /* off-screen-menu */
    .header .off-screen-menu {
        background-color:  #323946;
        height: 50vh;
        width: 12vh;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        transition: .3s ease;
    }
    .off-screen-menu.active {
        right: 0;
    }


    /* ham menu */
    .ham-menu {
        height: 30px;
        width: 30px;
        position: relative;
    }
    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: white;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    .ham-menu.active span {
        background-color: white;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .home {
        display: flex;
        flex-direction: column; /* Stack the children vertically */
        justify-content: flex-start; /* Align all children to the top of the container */
        align-items: flex-start; /* Align the children to the left */
        height: 100vh; /* Full viewport height */
        padding-top: 13rem; /* Adjust space from the top of the section */
        padding-left: 2rem; /* Optional: Adds space from the left edge */
        gap: 1rem;
    }
    
    .home-img {
        order: 1; /* Makes sure that the image stays at the top */
    }
    
    .home-img img {
        width: 280%;  /* Adjust image size */
        height: auto;  /* Maintain aspect ratio */
        padding-left: 5rem;

    }
    .home-content p{
        font-size: 1rem;
        
    }
    .home-content h1{
        font-size: 50px;
    }

    .home-content h3{
        font-size: 20px;
        font-weight: 700;
        opacity: 0;
        animation: slideBottom 1s ease forwards;
        animation-delay: .7s;
    }
    .home-content {
        order: 2;  /* Ensures content comes after the image */
        text-align: left;  /* Aligns text to the left */
        padding-left: 5rem; /* Optional: Adds padding to the left side of the content */
    }
    

    
}
/*---------------------------------------*/
/*---------About Me*/
/*---------------------------------------*/
/* General body and header styles */
.about {
    padding-top: 10rem;
    padding-left: 10rem;
    display: flex;
    height: auto;  /* Let the container height adjust based on content */
    width: 80%; /* Set the width to 80% of the parent container */
    margin: 0 auto;
    background-color: #323946;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3rem;  /* Add padding inside the container */
}

/* Content Wrapper */
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5rem;
    padding-top: 6rem;
}


.about-img img {
    width: 80%;
    height: 80%;
    border-radius: 25%;
    margin-bottom: 20px;
    padding-left: 6rem;
}


/* About Info Section */
.about-info {
    width: 90%; /* Adjusts the width of the right section */
}

.about-info h3{
    font-size: 3rem; /* Adjusts the width of the right section */
    justify-content: center;
}

.about-info ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.about-info li strong{
    color: yellow;
    font-size: 1.4rem;
    margin: 10px 0;
}
.about-info li {
    font-size: 1.2rem;
    margin: 10px 0;
}

.about-info h2 {
    color: yellow;
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-info p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.about-info .snippets-img{
    width: 80%;      /* adjust as needed */
    height: auto;      /* keeps aspect ratio */
    margin-left: 80px;
}

@media (max-width: 1550px) {
    .about-info{
        margin-top: -4rem;
    }
    .about-info h3 {
        font-size: 2rem;
    }
    .about-info p {
        font-size: 1.1rem;
    }
    .about-info h2 {
        font-size: 1.3rem;
    }
    .about-info li strong{
        font-size: 1.2rem;
    }
    .about-info li {
        font-size: 1.1rem;
    }
    .about-info img {
        width: 95%;
        border-radius: 8px;
        margin-top: 20px;
        padding-left: 5rem;
    }
}

@media (max-width: 1200px) {
    .about-info p {
        font-size: 0.9rem;
    }
    .about-info h2 {
        font-size: 1.0rem;
    }
}


@media (max-width: 1020px) {
    .about-info{
        margin-left: -5rem;
        width: 600%;
    }
    .about-info img{
        margin-left: -3rem;
    }
}

/*---------------------------------------*/
/*---------Skills*/
/*---------------------------------------*/
.skills{
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;     /* Vertically centers the content */
    padding: 2rem 0;         /* Vertical padding */
    padding-left: 8rem;
    background-color: #323946;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;               /* Adjusts the width of the content */
    margin: 0 auto;       
    padding-top: 5rem;   
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.lang-prog-box,
.TFD-WD-box,
.SF-box {
    display: flex;
    width: 100%;
}

.skills-box{
    width: 80%; /* 2 boxes will fit side by side */
    text-align: center;
}

.skills .skills-box h6{
    font-size: 1.4rem;
    color: yellow;
    text-align: left;
}

.skills-box .skills-item{
    display: flex;
    align-items: center;
    flex-direction: row;  /* Align icons horizontally */
    gap: 20px;  /* Space between icons */
    padding-left: 0.8rem;
}

.skills-box .skills-items{
    display: flex;
    align-items: center;
    gap: 2px;
}

.skills-box img{
    max-width: 80px; /* Control icon size */
    transition: transform 0.3s ease;
}

.skills-box ul{
    list-style-type: none; /* Optional: removes default list bullet points */
}

.skills .skills-item li {
    text-align: left; 
    font-size: 1.2rem;
    margin-bottom: 10px; /* Optional: adds some space between list items */
}

.skills-box img:hover {
    transform: scale(1.2); /* Scale the image by 1.2x on hover */
}

.skills-box .hover-box{
    visibility: hidden;
}

.skills-box img:hover + .hover-box{
    visibility: visible;
}

.hover-box p3 {
    margin: 5px;
    font-size: 1rem;
    color: #fbf4f4;
}

@media (max-width: 1020px) {
    .lang-prog-box,
    .TFD-WD-box,
    .SF-box {
        display:inline;
        width: 100%;
    }

    .skills{
        height: 110vh;
    }

    .row{
        margin-left: -4rem;
        margin-top: -2rem;
    }

     /* Hide all the images */
     .skills-box img {
        display: none; 
    }

    /* Show the h6 and p3 (text) only */
    .skills .skills-box h6 {
        display: block; /* Ensures h6 is shown */
        margin-top: -1rem;
        font-size: 1.4rem;
    }
    .skills-box{
        padding-top: 2rem;
    }
    .skills-box .hover-box p3 {
        visibility: visible;
        padding-top: 0px;
        font-weight: normal;
        font-size: 1rem;
    }
    .skills .skills-item li{
        font-size:1rem;
    }
    .skills-box .hover-box strong {
        font-weight: normal;
    }

    /* Optional: If you want to align the p3 text better under the h6 */
    .skills-box .skills-item {
        display: block; /* Ensures the items are stacked vertically */
        text-align: left; /* Align text to the left */
        padding-top: 0px;
    }
}
/*-----------------Academic Project----------------*/

.academic-projects{
    /* Vertically centers the content */
    padding-left: 2rem;
    background-color: #323946;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;               /* Adjusts the width of the content */
    margin: 0 auto;       
}
.projects .heading span,
.personal-projects .heading span, 
.academic-projects .heading span{
    color: yellow;
}
.academic-projects .heading {
    font-size: 2rem;
    margin-top: 150px;
    text-align: center;
}

/*---------------------------------------*/
/*---------Personal Project*/
/*---------------------------------------*/
.personal-projects{
    padding-left: 2rem;
    background-color: #323946;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;               /* Adjusts the width of the content */
    margin: 0 auto;
}

.personal-projects .heading{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

.mp-box {
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Adds space between the items */
}

.mp-item {
    flex: 1.2; /* Makes the items evenly sized */
    padding: 35px;
    box-shadow: 0 2px 2px #323946; /* Optional: Adds shadow */
}

p2{
    font-size: 1.5rem;
    color: rgb(234, 255, 0);
}

.personal-projects li, .academic-projects li{
    font-size: 1rem;
}

@media (max-width: 1020px) {
    .academic-projects .heading{
        font-size: 20px;
        margin-top: 5rem;
    }

    .personal-projects .heading{
        font-size: 20px;
        margin-top: 2rem;
    }

    .academic-projects .mp-box {
        flex-direction: column;   /* Stack projects vertically */
        width: 100%;
        margin-left: -1rem;
    }

    .personal-projects .mp-box{
        flex-direction: column;   /* Stack projects vertically */
        width: 90%;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .academic-projects .mp-item, 
    .personal-projects .mp-item {
        background-color: #323946;
        border-radius: 2rem;
        transition: 0.3s ease-in-out;
    }

    .academic-projects li,
    .personal-projects li {
        margin-bottom: 0.4rem;
        line-height: 1.3;
        font-size: 15px;
    }

    .academic-projects p2, 
    .personal-projects p2{
        font-size: 18px;
        margin-bottom: 2rem;
    }

    .mp-item:hover{
        transform: scale(1.02);
        box-shadow: 0 0 20px yellow;
    }
}

/*---------------------------------------*/
/*---------Professional Experience*/
/*---------------------------------------*/
.professional {
    padding: 130px 15px;
    padding-left: 2rem;
    background-color: #323946;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;               /* Adjusts the width of the content */
    margin: 0 auto;
}

.professional h2{
    margin-bottom: 3rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: yellow;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background: yellow;
    box-shadow: 0 0 25px yellow,
                0 0 50px yellow;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}


.timeline-content{
    background-color: #323946;
    border: 3px solid yellow;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px yellow;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px yellow;
}

.timeline-content h3{
    font-size: 20px;
    color: yellow;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

@media (max-width: 1020px) {
    .timeline-items {
        display: flex;
        flex-direction: column;     /* Stack items vertically */
        position: static;           /* Remove absolute positioning */
    }

    .timeline-items::before {
        display: none;              /* Remove the yellow line */
    }

    .timeline-dot {
        display: none;              /* Remove the yellow dots */
    }

    .timeline-item {
        padding: 0;                 /* Remove any extra padding for the items */
        margin-bottom: 20px;        /* Adjust margin between items */
    }

    .timeline-content {
        border: none;               /* Remove the border */
        box-shadow: none;            /* Remove the box shadow */
        background-color: transparent; /* Remove the background color */
    }

    .timeline-content h3 {
        font-size: 18px;             /* Adjust heading font size */
    }

    .timeline-content p {
        font-size: 14px;             /* Adjust paragraph font size */
    }
    .timeline-content ul {
        font-size: 0.9rem;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        padding-left: 3rem;
    }
    
    .timeline-item:nth-child(even){
        padding-left: 0;
        padding-left: 3rem;
    }

    .timeline-date{
        padding-left: 2rem;
        font-size: 1rem;
        color:yellow;
        padding-bottom: -4rem;
    }
}

@media (max-width: 820px) {
    .timeline-date{
        padding-left: 2rem;
        font-size: 1rem;
        color:yellow;
        padding-bottom: -4rem;
    }
}
/*---------------------------------------*/
/*---------Back to Top*/
/*---------------------------------------*/
.back-to-top{
    position: fixed;
    bottom: 20rem;
    right: 233rem;
    background: rgb(236, 237, 239);
    height: 500rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s;
}

.back-to-top.shown{
    visibility: visible;
    transform: none;
    opacity: 1;
}
.back-to-top img{
    height: 35px;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: yellow;
}

::-webkit-scrollbar-track{
    background-color: rgb(73, 72, 72);
    width: 50px;
}
/*Keyframes Animation*/
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-24px);
    }

    100%{
        transform: translateY(0);
    }
}